---
import Layout from '../layouts/layout.astro';
import { Container } from '../components/grid';
import Header from '../components/header';
import Footer from '../components/footer';
import Navigation from '../components/navigation';
import Thumbnail from '../components/thumbnail';
import VideoSection from '../components/videoSection.tsx';
import { ClientRouter } from "astro:transitions";
---

<Layout>
  <Header />
  <Container>
    <div style={{ height: '4rem' }}></div>
    <Navigation />
    <div style={{ height: '4rem' }}></div>

    <VideoSection
      src="https://www.youtube.com/embed/UB9_eVCAyjU"
      title="Animation Title 1"
      description="Custom description for animation 1."
      lineColor="#fff"
    />

    <hr style="border: none; border-top: 3px solid #fff; margin: 3rem 0;" />

    <VideoSection
      src="https://www.youtube.com/embed/YqNyk5gN4So?si=2yIAMBTqbsx9p_yl"
      title="Animation Title 2"
      description="Custom description for animation 2."
      lineColor="#fff"
    />

    <Footer />
  </Container>
</Layout>

<ClientRouter />

