---
import Layout from '../layouts/layout.astro';
import { Container, Row, Column} from '../components/grid'
import Button from '../components/button'
import Header from '../components/header';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// hint: modify this file and refresh page
---

<Layout>
	<Container>

	<Header/>

	<Row>
		<Column span={8}>
			<Button href='/404'>click me</Button>
			<Button href='/404'>click me 2</Button>
			<Button href='/404'>click me</Button>
			<Button href='/404'>click me 2</Button>	
		</Column>

	</Row>

	

	</Container>
</Layout>
