---
import Layout from '../layouts/layout.astro';
import { Container, Row, Column} from '../components/grid'
import Button from '../components/button'
import Header from '../components/header';
import Footer from '../components/footer';
import Thumbnail from '../components/thumbnail';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// hint: modify this file and refresh page
---

<Layout>
	<Container>
	<Header/>

	<Row>
			<Button href='b1'>Painting</Button>
			<Button href='b1'>Animation</Button>
			<Button href='b1'>VJ</Button>
			<Button href='b1'>Other</Button>
	</Row>

	some text
	some

	<Row>
		<Thumbnail src="img_forest.jpg" >2023/ 24</Thumbnail>
		<Thumbnail src="img_forest.jpg" >2021/23</Thumbnail>
		<Thumbnail src="img_forest.jpg" >- /2021</Thumbnail>
	</Row>

	<Footer></Footer>
	</Container>
</Layout>
