---
import Layout from '../layouts/layout.astro';
import Container from '../components/container'
import Row from '../components/row'
import Column from '../components/column'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// hint: modify this file and refresh page
---

<Layout>
	<Container><p>Hello</p></Container>

	<Row>
		<Column span={2}>
			Works
		</Column>
		<Column span={2}>
			About
		</Column>
		<Column span={2}>
			CV
		</Column>
		<Column span={2}>
			Contact
		</Column>
	</Row>

	<Row>This is row 1</Row>
	<Row>This is row 2</Row>
	<Row>This is row 3</Row>


</Layout>
