---
import Layout from '../layouts/layout.astro';
import { Container } from '../components/grid';
import Header from '../components/header';
import Footer from '../components/footer';
import Navigation from '../components/navigation';
import Gallery from '../components/gallery';

// Load gallery data
import paintingGallery from '../content/painting.json';
---

<Layout>
  <Container>
    <Header />
    <div style={{ height: '4rem' }}></div>
    <Navigation />
    <div style={{ height: '4rem' }}></div>
    <Gallery items={paintingGallery} />
    <Footer />
  </Container>
</Layout>