---
import Layout from '../layouts/layout.astro';
import { Container } from '../components/grid';
import Header from '../components/header';
import Footer from '../components/footer';
import Navigation from '../components/navigation';
import Gallery from '../components/gallery';
import paintingGallery from '../content/painting.json';
import { ClientRouter } from "astro:transitions";
---

<Layout>
  <Header />
  <Container>

    <div style={{ height: '4rem' }}></div>
    <Navigation />
    <div style={{ height: '4rem' }}></div>

    This is page with Other stuff.

    <Footer />
  </Container>
</Layout>

<ClientRouter />
