---
import '@fontsource-variable/roboto';
import '@fontsource/dseg14-classic';	//	digital like-font for testing
import '@fontsource/libre-baskerville'; //	similar to Martas "Marion" (paid)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>My Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		color: white;
		background-color: darkgrey;
		font-size: 24;
		margin: 0;
		width: 100%;
		height: 100%;
  		// font-family: 'Roboto Variable', sans-serif;
		// font-family: 'DSEG14 Classic', sans-serif;
		font-family: 'Libre Baskerville', serif;
		font-size: 36;
	}

	*, *:before, *:after {
		box-sizing: border-box;
	}
</style>
